@import "reset.css";

@font-face {
  font-family: poppins;
  src: url(../resources/fonts/poppins_regular.woff2);
}

@font-face {
  font-family: notosans;
  src: url(../resources/fonts/notosans_regular.woff2);
}

html {
  font-size: 62.5%;
  font-family: poppins, sans-serif;
}

body {
  height:100%;
}

#root {
  height:100%;
}